body {
  margin: auto;
  width: 100%;
}

header {
overflow: hidden;
height: 800px;
}

#group1-a {
 margin-left: 20%;
 position: absolute;
 top : 5%;
 color: white;
}

.head {
position:relative;
filter: brightness(60%);
width: 100%;
}

#button1 {
  color : white;
  background: orange;
}

#nav {
  margin-left: 20%;
  position: absolute;
  top : 5%;
  right : 20%;
  color: white;
}

#text1 {
  font-family: "Helvetic";
  font-size: 70px;
  margin-left: 20%;
  position: absolute;
  top : 30%;
  color: white;
}
